.enrolled-wrapper-institute{
    height: 550px;
    overflow: hidden;
    .enrolled-outing{
        display: flex; 
    margin-bottom: 20px;
    
    .enrolled-heading{
        font-size: 1.4em;
        font-weight: 500;
        margin-top: 5px !important;
    }
    .link{
    margin-top: 10px;
    font-size: 18px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
}
.list-wrapper{
    margin-top: 10px;
    li{
        list-style-type: none !important;
    }
    img{
        height: 70px;
        width: 70px;
    }
    .list-items{
        display: flex;
        margin-bottom: 15px;
        .content-list-item{
            width: 100%
        }
        .name{
            font-size: 18px;
            font-weight: 500;
            margin-top: 20px !important;
            margin-left: 10px;
            text-transform: capitalize;
        }
        .time-institute{
            position: relative ;
            right: 0px;
            font-size: 13px;
            color: #7d7b7b;
            // top: 75px;
            margin-top: -10px;
            text-align: right;
            
        }
        .course-name{
            margin-left: 10px;
            font-size: 16px;
            color: #33aa58;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
}
}